<%- include("partials/header"); -%>
<!--- FIRST DIV --->
<div class="">
  <div class="container py-5 px-5">
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/about.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <h1 class="pt-3">About me!</h1>
        <p>Hi there, my name is Geraldo Gosal, an Interaction Design graduate from the University of Technology Sydney. I always had a passion for helping others in understand and providing an easy access to technology. This led me pursuing a degree
          in Interaction design - specifically in UI/UX design.</p>
        <p>Outside of work, I like to spend my leisure time playing musical instruments, make a song cover and painting. I also have a strong interest in technological hardwares and would tinker with it on my free time.</p>
      </div>
    </div>
  </div>
</div>

<div class="px-5 py-5">
  <div class="d-flex row row-cols-lg-4 row-cols-sm-2">
    <div class="col"><img src="/image/photograph1.jpeg" class="img-fluid mx-auto d-block" alt="..."></div>
    <div class="col"><img src="/image/photograph2.jpeg" class="img-fluid mx-auto d-block" alt="..."></div>
    <div class="col"><img src="/image/photograph3.png" class="img-fluid mx-auto d-block" alt="..."></div>
    <div class="col"><img src="/image/photograph4.jpeg" class="img-fluid mx-auto d-block" alt="..."></div>
  </div>
</div>


<%- include("partials/footer"); -%>
