<%- include("partials/header"); -%>
<!--- FIRST DIV --->
<div class="">
  <div class="container py-5 px-5">
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/about.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <h1 class="pt-3">About me!</h1>
        <p>Hey, I'm Geraldo, an Interaction Design grad from the University of Technology Sydney. I'm all about making tech simple and user-friendly, 
          especially in the UI/UX space. Whether it's coursework or projects, my goal is creating designs that people find easy to use and, well, just plain like.</p>
        <p>Outside of the design hustle, you'll find me chilling with music and snapping photos. Music and photography let me unwind and bring a creative spin to life. It's my way of balancing the structured design world with something a bit more free-spirited.</p>
        <p>Now, when I'm not in the digital world, I'm diving into the hardware side of things. I love tinkering with gadgets in my free time, figuring out how they tick. 
          It's not just a hobby; it's my way of staying on top of tech trends and keeping things fresh. My profile? It's a mix of design smarts from school, creativity from my downtime, and a hands-on love for tech - all rolled into one neat package.</p>
      </div>
    </div>
  </div>
</div>

<div class="px-5 py-5">
  <div class="d-flex row row-cols-lg-4 row-cols-sm-2">
    <div class="col"><img src="/image/photograph1.jpg" class="img-fluid mx-auto d-block" alt="..."></div>
    <div class="col"><img src="/image/photograph2.jpg" class="img-fluid mx-auto d-block" alt="..."></div>
    <div class="col"><img src="/image/photograph3.jpg" class="img-fluid mx-auto d-block" alt="..."></div>
    <div class="col"><img src="/image/photograph4.jpg" class="img-fluid mx-auto d-block" alt="..."></div>
  </div>
</div>


<%- include("partials/footer"); -%>
