<%- include("partials/header"); -%>
<!--- FIRST DIV --->
<div class="">
  <div class="container py-3">
    <h1>Grim Repair</h1>
    <div class="row row-cols-lg-2 row-cols-sm-1">
      <div class="col">
        <h3>Overview</h3>
        <p>Grim Repair is designed to simplify the process of repairing electronic devices and offer an end-to-end repair service including pickup, tracking, and delivery.</p>
        <p>This project was part of the uni capstone course I did previously with a group of 5 people with the objective to provide solutions for global pandemic situation.</p>
      </div>
      <div class="col">
        <h3>Role</h3>
        <p>User Research, Prototyping & Usability Testing, Pitching, Wireframing.</p>
        <h3>Duration</h3>
        <p>August - November 2021 (12 weeks).</p>
      </div>
      <div class="col">
        <a href="https://bit.ly/3NTfGlX"><button type="button" class="btn btn-dark btn-lg">Prototype Demo</button></a>
      </div>

    </div>
  </div>

  <div class="py-3">
    <img src="/image/GrimRepairMockup.jpg" class="img-fluid rounded px-4 py-3" alt="...">
  </div>
</div>

<!--- SECOND DIV --->
<div class="">
  <div class="container py-3">
    <h3>Background</h3>
    <p>From the events of the recent pandemic, my team and I proposed an idea with the aim of improving the experience in repairing electronic devices. The focus was to minimise physical contact between the end user and the vendor.</p>
    <p>The team consisted of 5 designers, where I was given the responsibility for the UI/UX design, research, and the final presentation. This project had a duration of 3 months - from developing the idea to constructing the hi-fidelity prototype.
    </p>
    <p>Here are our key accomplishments:</p>
    <ul>
      <li>Won a design award.</li>

      <li>Most of key problems were identified.</li>

      <li>Project was delivered on time. </li>
    </ul>

  </div>
</div>

<!--- THIRD DIV --->
<div class="gr-bg-col">
  <div class="container py-3">
    <h3>The Problem</h3>
    <p>Upon the initial development, my team and I conducted a brainstorming and interview session to reveal several pain points that was experienced by the target audience:</p>
    <ul>
      <li>Unfair pricing offered by repair vendors.</li>
      <li>Overspending due to the lack of understanding in technology.</li>
      <li>Inaccessible location for several groups of individuals.</li>
      <li>Slow turnaround in repair processes.</li>
    </ul>
  </div>
</div>

<!--- FOURTH DIV --->
<div class="">
  <div class="container py-3">
    <h3>Design Process</h3>
    <p>My team incorporated the Lean UX methodology that emphasised three critical aspects (phases); Think, Make and Check.</p>
    <img src="/image/leanUXFramework.png" class="img-fluid mx-auto d-block rounded py-3" alt="...">
  </div>
</div>

<!--- FIFTH DIV --->
<div class="gr-bg-col">
  <div class="container py-3">
    <h3>Key Features (MVP)</h3>
    <p>Before development, several assumptions using the Lean UX methodology was raised. We believed that this application will offer same day repair services and delivery from registered drivers to the customer’s desired location.</p>
    <p>Here are the following key features:</p>
    <ul>
      <li><b>Driver Pickup/Delivery.</b> The item pickup and delivery service removes the need for customers to drive to the vendor’s location and allows for a quicker turnaround on repairs.</li>
      <li><b>Vendor price/turnaround comparison.</b> It allows customers to compare vendor price and turnaround times for their requested issue.</li>
      <li><b>Real-time Tracking.</b> A live update of the item’s delivery and repair progress for the customer.</li>
    </ul>

    <p>Few initial design mock-ups were created:</p>
    <img src="/image/lofiandmidfi.png" class="img-fluid mx-auto d-block rounded py-3" alt="...">

    <p>After conducting an interview and usability testing with 10 individuals, their inputs were gathered. My team conducted an affinity diagram to map out what we had done well and what needed to improve. We started coding an interview and grouped
      them under the 'driver' and 'customer' categories. By using the bottom-up approach, we grouped the code into categories and sub-categories that focuses on the app’s features. In the final iteration, a bottom-up approach was used to further
      refine the categories in clear and meaningful themes.</p>
    <div class="row row-cols-lg-2 row-cols-sm-1">
      <div class="col">
        <a href="https://miro.com/app/board/o9J_lu0eDfE=/?invite_link_id=221725230630"><img src="/image/driver.jpg" class="img-fluid mx-auto d-block" alt="..."></a>
      </div>
      <div class="col">
        <a href="https://miro.com/app/board/o9J_lu0eDfE=/?invite_link_id=221725230630"><img src="/image/customer.jpg" class="img-fluid mx-auto d-block" alt="..."></a>
      </div>
    </div>
    <a href="https://docs.google.com/spreadsheets/d/1T6SRLQjHtiteKbZxtRjiq6fjwtIlfixQRjgw9WT42DA/edit?usp=sharing"><img src="/image/heuristic_design.png" class="img-fluid mx-auto d-block" alt="..."></a>

  </div>
</div>

<!--- SIXTH DIV --->
<div class="">
  <div class="container py-3">
    <h3>Design</h3>
    <p>After few iterations, a final hi-fidelity mock-up prototype was made with a minimalistic UI. The green colour was opted to provide nature-esque impression.</p>
    <h5>Welcome Screen & Registration</h5>
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/login.jpg" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <img src="/image/signup.jpg" class="img-fluid mx-auto d-block" alt="...">
      </div>
    </div>
    <h5>Home Screen</h5>
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/home.jpg" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <img src="/image/homedriver.jpg" class="img-fluid mx-auto d-block" alt="...">
      </div>
    </div>
    <h5>List of Devices</h5>
    <div class="row justify-content-md-center">
      <div class="col col-lg-3 col-sm-0">
      </div>
      <div class="col col-lg-6 col-sm-12">
        <img src="/image/listOfDevices.jpg" class="img-fluid mx-auto d-block m-auto w-75" alt="...">
      </div>
      <div class="col col-lg-3 col-sm-0">
      </div>
    </div>
    <h5>Order List & Live Tracking</h5>
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/orderhistory.jpg" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <img src="/image/track.jpg" class="img-fluid mx-auto d-block" alt="...">
      </div>
    </div>
    <h5>Messages</h5>
    <div class="row justify-content-md-center">
      <div class="col col-lg-3 col-sm-0">
      </div>
      <div class="col col-lg-6 col-sm-12">
        <img src="/image/messages.jpg" class="img-fluid mx-auto d-block m-auto w-75" alt="...">
      </div>
      <div class="col col-lg-3 col-sm-0">
      </div>
    </div>
    <h5>Driver Earnings</h5>
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/earnings.jpg" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <img src="/image/earningdetails.jpg" class="img-fluid mx-auto d-block" alt="...">
      </div>
    </div>

  </div>
</div>


<!--- SEVENTH DIV --->
<div class="gr-bg-col">
  <div class="container py-3">
    <h3>Development</h3>
    <p>3 applications were used for this prototype development. Balsamic, to sketch out the low-fidelity prototype. These sketches were then transformed with Adobe XD to provide a more contrasting and vibrant look. Lastly, we integrated Protopie to
      implement micro interaction to achieve hi-fidelity.</p>
    <img src="/image/framework.png" class="img-fluid mx-auto d-block w-75" alt="...">
  </div>
</div>

<!--- EIGHT DIV --->
<div class="">
  <div class="container py-3">
    <h3>Key Takeways</h3>
    <p>This project was a valuable learning experience since it allowed me to incorporate all the skills I have attained throughout the years since studying UI/UX. During development, we had several issues that delayed our progress. As a team, we
      formulated 23 external features which we found to be excessive, when only 3 was needed for the MVP (most viable product). At the end, we were concerned about the time limitation and opted to keep the lofi and mid fi mockup to be kept minimal. I
      learnt that the functionality and overall user experience was critical in designing an app.</p>
  </div>
</div>

<%- include("partials/footer"); -%>
