<%- include("partials/header"); -%>

<div class="container">
  <h1 class="py-5 mx-auto d-block">Hello! I’m Geraldo, a Developer📱based in Sydney, AU.</h1>
</div>

<div class="d-flex justify-content-center">
  <div class="container">
    <div class="row row-cols-sm-1 row-cols-lg-2">
      <a href="/grimrepair">
        <div class="col mb-4 img-container">
          <img src="/image/GrimRepair.png" class="rounded img-fluid" alt="...">

          <div class="overlay">
            <div class="text">Grim Repair</div>
          </div>
        </div>
      </a>
      <a href="/triviayay">
        <div class="col mb-4 img-container">
          <img src="/image/Triviayay.png" class="rounded img-fluid" alt="...">

          <div class="overlay">
            <div class="text">Triviayay</div>
          </div>
        </div>
      </a>
      <a href="/luze">
        <div class="col mb-4 img-container">
          <img src="/image/Luze.png" class="rounded img-fluid" alt="...">

          <div class="overlay">
            <div class="text">Luze</div>
          </div>
        </div>
      </a>
      <a href="/#">
        <div class="col mb-4 img-container">
          <img src="/image/seaalpha.png" class="rounded img-fluid" alt="...">

          <div class="overlay">
            <div class="text">Coming soon...</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<%- include("partials/footer"); -%>
