<%- include("partials/header"); -%>
<!--- FIRST DIV --->
<div class="">
  <div class="container py-3">
    <h1>Triviayay</h1>
    <div class="row row-cols-lg-2 row-cols-sm-1">
      <div class="col">
        <h3>Overview</h3>
        <p>Luze is a personalised time management tool designed for the user to map out and structure their daily activities. It has the ability to provide visual insights (charts) in a weekly routine to keep track of your productivity progress.</p>
        <p>This was part one of the final open project for my IOS development class. The project ran for 4 weeks with a group of 4 people.</p>
      </div>
      <div class="col">
        <h3>Role</h3>
        <p>Visual Design, Front-end Development, Interaction, Pitching.</p>
        <h3>Duration</h3>
        <p>April - May 2021 (4 weeks).</p>
      </div>
    </div>
  </div>

  <div class="py-3">
    <img src="/image/luzeMockup.png" class="img-fluid rounded px-5 py-3" alt="...">
  </div>
</div>

<!--- SECOND DIV --->
<div class="">
  <div class="container py-3">
    <h3>The Problem</h3>
    <p>The idea behind the project stems from a common problem we have in society, which was time management. From this, we proposed an idea to solve such problems. We focused on 3 things within the application:</p>
    <ul>
      <li>Prevention for omitting tasks</li>
      <ul>
        <li>Record important schedules</li>
        <li>A function to check whether the task is completed or not</li>
      </ul>
      <li>Efficient time management</li>
      <ul>
        <li>Add & update tasks</li>
        <li>Obtain an overview of the scheduled daily tasks in timely order</li>
      </ul>
      <li>Balanced lifestyle</li>
      <li>Overview of daily routine</li>
      <li>Reflect on the managed time after analysis</li>
    </ul>
  </div>
</div>

<!--- THIRD DIV --->
<div class="lz-bg-col">
  <div class="container py-3">
    <h3>Persona</h3>
    <p>A persona was created to narrow down the target audience and to maintain cohesiveness between all team members.</p>
    <img src="/image/persona.png" class="img-fluid mx-auto d-block m-auto" alt="...">
  </div>
</div>

<!--- FOURTH DIV --->
<div class="">
  <div class="container py-3">
    <h3>Framework</h3>
    <p>The application was built with three main components that would run natively in XCode. The swift language was used to handle the back-end development, UIKits and Storyboard for the front-end development and GitHub served as a platform for our
      team to collaborate.</p>
    <img src="/image/frameworkLuze.png" class="img-fluid mx-auto d-block m-auto" alt="...">
    <h5>Development</h5>
    <img src="/image/githubcommits.png" class="img-fluid mx-auto d-block m-auto" alt="...">
    <img src="/image/luzeDev.png" class="img-fluid mx-auto d-block m-auto" alt="...">
    <img src="/image/luzeDev2.png" class="img-fluid mx-auto d-block m-auto" alt="...">
  </div>
</div>

<!--- FIFTH DIV --->
<div class="lz-bg-col">
  <div class="container py-3">
    <h3>Final Product</h3>
    <p>Here is a preview of the final presentation of the application.</p>
    <img src="/image/luzeMockup2.png" class="img-fluid rounded-3 mx-auto d-block m-auto" alt="...">
  </div>
</div>

<!--- SIXTH DIV --->
<div class="">
  <div class="container py-3">
    <h3>Challenges</h3>
    <ol>
      <li>Time limitations</li>
      <ul>
        <li>Due to the strict time limit of 4 weeks, my team and I could not implement several features that we have discussed about beforehand. In the end, the app ran with few missing non-functional features and menus which could’ve been appended
          if more time was allocated. However, I learnt that time management; especially is developing a product is crucial.</li>
      </ul>
      <li>Conflict with GitHub</li>
      <ul>
        <li>As this was a group based project, we decided to host our code in GitHub as the main platform for collaboration. However, a few of the team members and I were still unfamiliar with GitHub and we would often have conflict between branches.
          This caused a substantial delay in our progress.</li>
      </ul>
      <li>UI</li>
      <ul>
        <li>During the final development, we had trouble setting up an appropriate UI aspect ratio and layout. This stemmed from being unable to automatically scale the screen for different device models and size.</li>
      </ul>
    </ol>
  </div>
</div>

<%- include("partials/footer"); -%>
