<%- include("partials/header"); -%>
<!--- FIRST DIV --->
<div class="">
  <div class="container py-3">
    <h1>Grim Repair</h1>
    <div class="row row-cols-lg-2 row-cols-sm-1">
      <div class="col">
        <h3>Overview</h3>
        <p>Sea Alpha is an app designed to make investment accessible to everyone, particularly beginners. The app offers a straightforward interface, curated stock list by experts, and a low-cost transaction fee. It aims to help users learn about investment and make well-informed decisions.</p>
        <p>This project aimed to deepen my understanding of the UI/UX design process and provided an opportunity to apply my skills to a real-world scenario, allowing me to gain practical experience and build a strong portfolio.</p>
      </div>
      <div class="col">
        <h3>Role</h3>
        <p>User Research, Wireframe, Design Mockups, Competitive Audit, Prototype.</p>
        <h3>Duration</h3>
        <p>December 2022 - February 2023 (6 weeks).</p>
      </div>
    </div>
  </div>

  <div class="py-3">
    <img src="/image/GrimRepairMockup.png" class="img-fluid rounded px-4 py-3" alt="...">
  </div>
</div>

<!--- SECOND DIV --->
<div class="">
  <div class="container py-3">
    <h3>Background</h3>
    <p>The inspiration for this project came from my desire to enhance my skills in UI/UX design and explore new design approaches. As a result, I decided to challenge myself to create a modern and user-friendly mobile banking app, which would provide a seamless and secure experience for users.</p>
  </div>
</div>

<!--- THIRD DIV --->
<div class="gr-bg-col">
  <div class="container py-3">
    <h3>The Problem</h3>
    <p>During the initial development phase, I conducted research to identify pain points experienced by our target audience.</p>
    <ul>
      <li>Limited time for portfolio management due to busy schedules.</li>
      <li>difficulties in understanding complex analysis in the stock market.</li>
      <li>Limited access to financial information and news, making it difficult for beginners to make informed investment decisions.</li>
      <li>Lack of guidance and support.</li>
    </ul>
  </div>
</div>

<!--- FOURTH DIV
<div class="">
  <div class="container py-3">
    <h3>Design Process</h3>
    <p>My team incorporated the Lean UX methodology that emphasised three critical aspects (phases); Think, Make and Check.</p>
    <img src="/image/leanUXFramework.png" class="img-fluid mx-auto d-block rounded py-3" alt="...">
  </div>
</div> --->

<!--- FIFTH DIV --->
<div class="gr-bg-col">
  <div class="container py-3">
    <h3>Key Features (MVP)</h3>
    <p>Before development, several assumptions using the Lean UX methodology was raised. We believed that this application will offer same day repair services and delivery from registered drivers to the customer’s desired location.</p>
    <p>Here are the following key features:</p>
    <ul>
      <li><b>Driver Pickup/Delivery.</b> The item pickup and delivery service removes the need for customers to drive to the vendor’s location and allows for a quicker turnaround on repairs.</li>
      <li><b>Vendor price/turnaround comparison.</b> It allows customers to compare vendor price and turnaround times for their requested issue.</li>
      <li><b>Real-time Tracking.</b> A live update of the item’s delivery and repair progress for the customer.</li>
    </ul>

    <p>Few initial design mock-ups were created:</p>
    <img src="/image/lofiandmidfi.png" class="img-fluid mx-auto d-block rounded py-3" alt="...">

    <p>After conducting an interview and usability testing with 10 individuals, their inputs were gathered. My team conducted an affinity diagram to map out what we had done well and what needed to improve. We started coding an interview and grouped
      them under the 'driver' and 'customer' categories. By using the bottom-up approach, we grouped the code into categories and sub-categories that focuses on the app’s features. In the final iteration, a bottom-up approach was used to further
      refine the categories in clear and meaningful themes.</p>
    <div class="row row-cols-lg-2 row-cols-sm-1">
      <div class="col">
        <a href="https://miro.com/app/board/o9J_lu0eDfE=/?invite_link_id=221725230630"><img src="/image/driver.png" class="img-fluid mx-auto d-block" alt="..."></a>
      </div>
      <div class="col">
        <a href="https://miro.com/app/board/o9J_lu0eDfE=/?invite_link_id=221725230630"><img src="/image/customer.png" class="img-fluid mx-auto d-block" alt="..."></a>
      </div>
    </div>
    <a href="https://docs.google.com/spreadsheets/d/1T6SRLQjHtiteKbZxtRjiq6fjwtIlfixQRjgw9WT42DA/edit?usp=sharing"><img src="/image/heuristic_design.png" class="img-fluid mx-auto d-block" alt="..."></a>

  </div>
</div>

<!--- SIXTH DIV --->
<div class="">
  <div class="container py-3">
    <h3>Design</h3>
    <p>After few iterations, a final hi-fidelity mock-up prototype was made with a minimalistic UI. The green colour was opted to provide nature-esque impression.</p>
    <h5>Welcome Screen & Registration</h5>
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/login.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <img src="/image/signup.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
    </div>
    <h5>Home Screen</h5>
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/home.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <img src="/image/homedriver.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
    </div>
    <h5>List of Devices</h5>
    <div class="row justify-content-md-center">
      <div class="col col-lg-3 col-sm-0">
      </div>
      <div class="col col-lg-6 col-sm-12">
        <img src="/image/listOfDevices.png" class="img-fluid mx-auto d-block m-auto w-75" alt="...">
      </div>
      <div class="col col-lg-3 col-sm-0">
      </div>
    </div>
    <h5>Order List & Live Tracking</h5>
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/orderhistory.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <img src="/image/track.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
    </div>
    <h5>Messages</h5>
    <div class="row justify-content-md-center">
      <div class="col col-lg-3 col-sm-0">
      </div>
      <div class="col col-lg-6 col-sm-12">
        <img src="/image/messages.png" class="img-fluid mx-auto d-block m-auto w-75" alt="...">
      </div>
      <div class="col col-lg-3 col-sm-0">
      </div>
    </div>
    <h5>Driver Earnings</h5>
    <div class="row row-cols-lg-2 row-cols-sm-1 w-75 m-auto">
      <div class="col">
        <img src="/image/earnings.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
      <div class="col">
        <img src="/image/earningdetails.png" class="img-fluid mx-auto d-block" alt="...">
      </div>
    </div>

  </div>
</div>


<!--- SEVENTH DIV --->
<div class="gr-bg-col">
  <div class="container py-3">
    <h3>Development</h3>
    <p>3 applications were used for this prototype development. Balsamic, to sketch out the low-fidelity prototype. These sketches were then transformed with Adobe XD to provide a more contrasting and vibrant look. Lastly, we integrated Protopie to
      implement micro interaction to achieve hi-fidelity.</p>
    <img src="/image/framework.png" class="img-fluid mx-auto d-block w-75" alt="...">
  </div>
</div>

<!--- EIGHT DIV --->
<div class="">
  <div class="container py-3">
    <h3>Key Takeways</h3>
    <p>This project was a valuable learning experience since it allowed me to incorporate all the skills I have attained throughout the years since studying UI/UX. During development, we had several issues that delayed our progress. As a team, we
      formulated 23 external features which we found to be excessive, when only 3 was needed for the MVP (most viable product). At the end, we were concerned about the time limitation and opted to keep the lofi and mid fi mockup to be kept minimal. I
      learnt that the functionality and overall user experience was critical in designing an app.</p>
  </div>
</div>

<%- include("partials/footer"); -%>
